#header-container {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#countriesInput {
    margin-left: 10px;
}